.pad-top-buffer { padding-top: 10px; }
.pad-top-buffer-md { padding-top: 20px; }
.top-buffer { margin-top: 10px; }
.top-buffer-xl { margin-top: 50px; }
.bottom-buffer  { margin-bottom: 15px; }
.column { height: 100%; }
.box { position: fixed; top: 0; left: 0; }
.black { background: #000; color: #FFF; }
.fixed {position: fixed; }
main { padding: 10px 10px 0px 10px; }
nav[role="navigation"] { z-index: 999; }
.concurso { padding: 15px; }
.concurso img { line-height: 0px; }
/* Large desktop */
@media (min-width: 1200px) { 

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	.fixed { position: relative; }
	.top-buffer-xl { margin-top: 10px; }
	.wrapper nav { margin: 0; }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
	
}