nav[role="navigation"] { z-index: 999; }

main { padding: 0px !important }

footer { color: white; background-color: #262a38;  }
footer > div:first-child{ margin: 20px 0 30px}
footer .nav-inferior{ list-style: none; padding: 0px; margin: 0px}
footer .nav-inferior li{ line-height: 60px; height: 60px; display: inline-block; margin-right: 15px; margin-left: 15px}


/* Clases propias */
.pad-top-buffer { padding-top: 10px; }
.pad-top-buffer-md { padding-top: 20px; }
.top-buffer { margin-top: 10px; }
.top-buffer-xl { margin-top: 50px; }
.bottom-buffer  { margin-bottom: 15px; }
.column { height: 100%; }
.box { position: fixed; top: 0; left: 0; }
.black { background: #000; color: #FFF; }
.fixed {position: fixed; }
.concurso { padding: 15px; }
.concurso img { line-height: 0px; }

.social{list-style: none; margin: 0px; padding: 0px; height: 60px; line-height: 60px;}
.social li{display: inline-block; margin: 0px 9px;}
.social a{color: white; font-size: 35px; line-height: 60px}

/* Menu superior */
.navbar-default { background: #262a38; border-radius: 0px; border: 0px; margin: 0px;}
.navbar-default .navbar-nav > li > a{ color: #d4d5e2; }
.navbar-default .glyphicon{ color: white; top: 0px; background: #9dcbca; } /*Bug addon*/

/* Banner home*/
.baner{ background-image: url('/assets/images/baner.jpg');  background-repeat: no-repeat;border-bottom: 4px solid #fdfeff; height: 300px;}
.baner article{ position: relative}

.anotate{font-weight: bold; position: absolute;; 
         background-repeat: no-repeat;  z-index: 5;}
.anotate h3{ font-weight: bolder; color: white; font-size: 50px; margin: 0px;}
.anotate p{color: #303542; font-size: 16px; }

.participa{ color: #303542; font-weight: bolder; margin-top: 293px; padding-top:10px; background-color: #79b1ae }
.participa h4{font-weight: bolder; font-size: 25px; margin: 0px;; 
              background-image: url('/assets/images/nube.png'); background-repeat: no-repeat; height: 55px;}
.participa h4 span{display: block; color: white; font-weight: bolder;}
.participa p{font-size: 16px; margin: 5px 0px 0px 0px; letter-spacing: 1px; padding-left: 2px;}

.calendar{color: white; padding:10px 0px; background-color: #577a7e;}
.calendar .day{font-size: 45px; line-height: 60px; padding-right: 0px; margin-right: -30px}
.calendar p:first-child{border-bottom: 1px solid white; text-transform: uppercase; margin-top: 10px}
.calendar p{margin: 0px; line-height: 20px;}
.calendar li{display: inline-block; margin: 0px 9px;}

.calendar .social-width{ height: 60px; line-height: 60px;width: 180px;font-size: 18px}
.calendar .social-width p:first-child{ font-weight: bolder; font-size: 20px}
/* Fin Banner*/

.home{ background-color: #eaebf0}
.home > div >div{ background-color: white; border: 2px solod #dadadb; border-radius: 3px; padding: 5px;}
.home > div >div{ 
    -webkit-box-shadow: 0px 10px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 12px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 12px -4px rgba(0,0,0,0.75);
}
.home .img{ height: 250px; background-repeat: no-repeat; background-position: top center}
.home .img > div:first-child{ height: 180px;;}
.home .img > div:last-child{ line-height:35px; color:white; padding-top: 25px; text-align: center; height: 65px; background-image: url('/assets/images/gris.png'); margin-bottom: 5px}
.home .description{ height: 65px; color: #262a38}
.home .description .fa{ margin-right: 10px; color: #262a38}
.home .description > div{ display: inline-block}
.home .description > div:nth-child(1){ width: calc(100% - 30px)}
.home .description > div:nth-child(2){ height: 100%; width: 30px; background-color: #d00016; 
                                       line-height: 65px; vertical-align: top; color: white; text-align: center; font-weight: bold;
                                       font-size: 20px;}
.description > div > div{ line-height: 32px; margin-left: 10px}
.home .ver-mas{ height: 75px;}

aside h2{ font-size: 23px; font-weight: bolder; margin: 0px 0px 15px 0px}
aside .row{ margin:20px 0 0 0;padding-bottom: 20px; border-bottom: 2px solid #e8e8e8;}
/*aside img{ 
    -webkit-box-shadow: 0px 10px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 12px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 12px -4px rgba(0,0,0,0.75);
}*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .wrapper nav { margin: 0; }

    .participa{ margin-top: 141px; padding-top:10px; background: none; text-align: left; }
    .participa h4{ padding-left: 83px; overflow: hidden}
    .participa p{ overflow: hidden}
    .calendar{ background: none; padding: 0px}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .participa p{ font-size: 13px}


    aside h3{ margin: 4px 0px 2px 0px; font-size:13px; font-weight: bold}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .participa h4{padding-left: 98px; background-position: 15px }
    .participa p{padding-left: 15px; font-size: 16px}

    .participa {margin-top: 80px; margin-bottom: 61px}
}
