body{ font-family: 'Raleway', sans-serif; color: #4c4d52}

nav[role="navigation"] { z-index: 999; }

div.container-fluid > div{ margin-top: 80px}
main { padding: 0px !important }

footer { color: white; background-color: #262a38;  }
footer .logo { height: 40px;}
footer > div:first-child{ margin: 20px 0 15px}
footer > div:last-child{ margin-bottom: 30px}
footer .nav-inferior{ list-style: none; padding: 0px; margin: 0px}
footer .nav-inferior li{ line-height: 60px; height: 60px; display: inline-block;}
footer .nav-inferior li a{ padding-left: 15px; padding-right: 15px}
footer a {color: white}
footer .social li{display: inline-block; margin: 0px 12px;}


/* Clases propias */
.pad-top-buffer { padding-top: 10px; }
.pad-top-buffer-md { padding-top: 20px; }
.top-buffer { margin-top: 10px; }
.top-buffer-xl { margin-top: 30px; }
.bottom-buffer  { margin-bottom: 15px; }
.bottom-buffer-x1  { margin-bottom: 30px; }
.bottom-buffer-x2  { margin-bottom: 45px; }
.column { height: 100%; }
.box { position: fixed; top: 0; left: 0; }
.black { background: #000; color: #FFF; }
.fixed {position: fixed; }
.nav .divider, .divider{display: none; padding: 0px 0px; color: lightgray; line-height: 45px;}

.social{list-style: none; margin: 0px; padding: 0px; height: 60px; line-height: 60px;}
.social li{display: inline-block; margin: 0px 9px;}
.social a{color: white; font-size: 35px; line-height: 60px}

/* Menu superior */
.menu{ min-height: 80px; padding: 14px 15px}
.menu{ 
    -webkit-box-shadow: 0 0px 10px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0px 10px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0px 10px 4px rgba(0, 0, 0, 0.75);
}

.menu h1{ margin:0px; padding: 0px; }
.menu h1 a{  background-image: url('/assets/images/logo.png'); width: 266px; background-size: cover;
             text-indent: -3000px; overflow: hidden}
.menu .navbar-collapse.collapse,
.menu .collapsing{ border-top: none !important;  box-shadow: none !important;}
.menu .navbar-form.navbar-right{ box-shadow: none; border: none;}

.navbar-default { background: #262a38; border-radius: 0px; border: 0px; margin: 0px;}
.navbar-default .navbar-nav > li > a{ color: #d4d5e2; }
.navbar-default .glyphicon{ color: white; top: 0px; background: #9dcbca; } /*Bug addon*/
.menu .input-group-addon {border: 1px solid #9DCBCA}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus{ background-color: #87CBCB; border-color: #87CBCB;  }
.navbar-default .navbar-toggle:hover{ background-color: #417B7F; border-color: #417B7F;  }
.navbar-default .navbar-toggle .icon-bar{background-color: #262A38; }
/* Fin menu */

/* Banner home*/
.baner{ background-image: url('/assets/images/baner2.jpg'); background-repeat: no-repeat;border-bottom: 4px solid #fdfeff; height: 300px;}
.baner article{ position: relative}

.anotate{font-weight: bold; position: absolute;; 
         background-repeat: no-repeat;  z-index: 5;}
.anotate h3{ font-weight: bolder; color: white; font-size: 50px; margin: 0px;}
.anotate p{color: #303542; font-size: 16px; }

.participa{ color: #303542; font-weight: bolder; margin-top: 293px; padding-top:10px; padding-bottom:15px; background-color: #79b1ae;
            border-bottom: 5px solid white; border-top: 5px solid white}
.participa > div{ margin-left: 15px; }
.participa h2{font-weight: bolder; font-size: 25px; margin: 0px;; 
              background-image: url('/assets/images/nube.png'); background-repeat: no-repeat; height: 55px;}
.participa h2 span{display: block; color: white; font-weight: bolder; font-size: 20px;}
.participa p{font-size: 16px; margin: 5px 0px 0px 0px;  padding-left: 2px;}

.calendar{color: white; padding:10px 0px; background-color: #577a7e; border-bottom: 5px solid white}
.calendar .day{font-size: 45px; line-height: 60px; padding-right: 0px; margin-right: -30px; font-family: arial}
.calendar p:first-child{border-bottom: 1px solid white; text-transform: uppercase; margin-top: 10px}
.calendar p{margin: 0px; line-height: 20px;}
.calendar li{display: inline-block; margin: 0px 9px;}

.calendar .social-width{ height: 60px; line-height: 60px;width: 180px;font-size: 18px}
.calendar .social-width p:first-child{ font-weight: bolder; font-size: 20px}
/* Fin Banner*/

/* Home */
.home{ background-color: #eaebf0}
.home > div >div{ background-color: white; border: 2px solid #dadadb; border-radius: 3px; padding: 5px;}
.home > div >div{ 
    -webkit-box-shadow: 0px 10px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 12px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 12px -4px rgba(0,0,0,0.75);
}
.home .img{ height: 250px; background-repeat: no-repeat; background-position: top center}
.home .img > div:first-child{ height: 180px;;}
.home .img > div:last-child{ line-height:35px; color:white; padding-top: 25px; text-align: center; height: 65px; background-image: url('/assets/images/gris.png'); margin-bottom: 5px}
.home .description{ height: 65px; color: #4c4d52}
.home .description > div:first-child .fa{ margin-right: 10px; color: #262a38}
.home .description > div{ display: inline-block}
.home .description > div:nth-child(1){ width: calc(100% - 30px)}
.home .description > div:nth-child(2){ height: 100%; width: 30px; background-color: #d00016; 
                                       line-height: 65px; vertical-align: top; color: white; text-align: center; font-weight: bold;
                                       font-size: 30px; cursor: pointer}
.description > div > div{ line-height: 32px; margin-left: 10px}
.ver-mas{ height: 65px; margin-left: -15px; margin-top: 15px; 
          background-image: url('/assets/images/celeste.png'), url('/assets/images/celeste_repeat.png');
          background-repeat: no-repeat, repeat-x; width: calc(100% + 30px);}
.ver-mas p{margin: 27px 15px 0px 0px; color: white; font-weight: bold; line-height: 37px; font-size: 20px;}

.noticias h2{ font-size: 20px; font-weight: bolder; margin: 0px; font-family: arial}
.noticias .concursante{ margin:15px 0px 0px 10px; padding-bottom: 20px; border-bottom: 2px solid #e8e8e8; display: inline-block; }
.noticias .concursante i{ margin-right: 5px; }
.noticias .concursante img {padding-left: 0px; padding-right: 0px; border: 2px solid #dadadb; max-width: 90px}
.noticias .concursante img {
    -webkit-box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.75);
}
.noticias input, .noticias button{ margin-bottom: 15px;}
/* Fin Home*/

/* Login Form */
.login { padding-top: 30px; padding-bottom: 30px;}
/* Fin Login*/

/* Registro */
.registro form button{ margin-left: 5px;}
/* Fin Registro*/

/* Panel */
.panel-izquierdo, .panel-izquierdo .list-group{ margin-bottom: 0px;}
.pregunta { margin-bottom: 30px; border-radius: 4px; border: solid 1px #9DCBCA; }

.header-box { background: #9DCBCA; padding-right: 0px; }
.header-box button { border-radius: 0px 4px 0px 0px; border: 0; }

.crear-concurso h2:first-child{ margin-top: 0px;}
/* Fin Panel*/

/* Custom bug logo */
@media (max-width: 375px) { 

    .menu h1 { margin-top:8px}
    .menu h1 a { width: 186px; height: 35px;}
    .navbar-header{line-height: 50px;}

    .participa h2{background: none}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    .menu .navbar-collapse.collapse,
    .menu .collapsing{ border: none !important;}

    .divider{ display: inline-block;}
    .wrapper nav { margin: 0; }
    .participa{ border: none; margin-top: 132px; padding-top:10px; background: none; text-align: left; padding-bottom:15px;}
    .participa h2{ padding-left: 83px; overflow: hidden}
    .participa p{ overflow: hidden}
    .calendar{border: none; background: none; padding: 0px}
    input.search{width: 140px !important;}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
    .fixed-md{position:fixed;}
    .top-bufer-md{margin-top:20px}
    
    .participa > div{ margin-left: 0px; }
    .noticias h3{ margin: 4px 0px 2px 0px; font-size:13px; font-weight: bold}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .participa {margin-top: 82px; margin-bottom: 46px}
    .participa h2{padding-left: 98px; background-position: 15px }
    .participa p{padding-left: 15px; font-size: 16px}

}
